.App {
  font-family: sans-serif;
  text-align: center;
}
.Letter {
  border: 1px solid black;
  padding: 90px;
}
.ToAddress {
  position: relative;
  left: 230px;
  top: 130px;
}
.FromAddress {
  position: relative;
  top: -70px;
  left: -20px;
}
.StampImage {
  position: absolute;
  bottom: 490px;
  left: 400px;
  width: 500px;
}
.ImageStuff {
  width: 25%;
  position: absolute;
  left: 145px;
}
